.feature {
  background-color: var(--bg-secondcolor);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__icon {
  @include position();
  background: #f5f4fa;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  @include style(14px, 700, 16px);
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.feature-list__text {
  @include style();
  color: var(--title-text-color);
}
