.checbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  margin-bottom: 30px;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    transition: background-image 250ms --timing-function;

    .checkbox-input:checked + & {
      background-image: url(../images/icon\ check.svg);
      background-position: center;
      background-size: cover;
      border-color: var(--accent-color);
    }

    .checkbox-input:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.checbox-label__link {
  color: var(--accent-color);
  text-decoration: underline;
}
