.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  @include style(20px, 700, 23px);
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.form-fild {
  margin-bottom: 28px;
}

.form-fild__label {
  @include style(12px, 400, 14px);
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.wrapper-input {
  position: relative;

  &:focus-within {
    fill: var(--accent-color);
  }
}

.wrapper-input__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;

  &:focus {
    border-color: var(--accent-color);
  }
}

.wrapper-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
