:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --color-white: #fff;
  --background-color: #2f303a;
  --bg-secondcolor: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}